{% load staticfiles %}
<asside>
  <div id="slide-out" class="side-nav fixed blue-grey darken-4">

    <div class="container grey-text text-lighten-5">
      <h3>Mesas</h3>
    </div>
    <ul>
      <li><a class="grey-text text-lighten-5" href="/mesa"><i class="material-icons grey-text text-lighten-5">search</i> Buscar</a></li>
      <li><a class="grey-text text-lighten-5" href="/mesa/1"><i class="material-icons grey-text text-lighten-5">lock_open</i> Abertas</a></li>
      <li><a class="grey-text text-lighten-5" href="/mesa/2"><i class="material-icons grey-text text-lighten-5">lock_outline</i> Fechadas</a></li>
      <li><a class="grey-text text-lighten-5" href="/mesa/novo"><i class="material-icons grey-text text-lighten-5">add</i> Adicionar Mesa</a></li>
    </ul>
  </div>
</asside>
