$grey-darken-3: #424242 !default;
$grey-lighten-3: #d1d1d1 !default;
$red-lighten-3: #EF9A9A !default;




input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: $grey-lighten-3 !important;
  background-image: none;
  color: rgb(0, 0, 0);
}

.login {
  .panel{
  	border-color: transparent;
    background-color: $grey-darken-3;
    color: #fff;
  }
  .panel-heading{
  	border-color: transparent;
  	background-color: $grey-lighten-3;
  	color: #000;
  	/*#257C6C;*/
  	/*#005484;*/
  }
  .form {
    padding-top: 10%;
  }
}

.app {
	background-color: #edeef1;
}
