@import "../sass/components/color";





input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  @extend  .cyan, .darken-2, .grey-text, .text-lighten-5;
  background-image: none;
  color: rgb(0, 0, 0);
}

.login {
  padding-top: 10%;
  .panel{
  	border-color: transparent;
    @extend  .cyan, .darken-2, .grey-text, .text-lighten-5;
  }
  .panel-heading{
  	border-color: transparent;
    @extend  .teal, .lighten-2, .grey-text, .text-lighten-5;  }
  .form {
    padding-top: 10%;
  }
}

.app {
	@extend .indigo, .lighten-5;
}
