{% load staticfiles %}
<html>
    <head>
        <title>Monitoria</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'materialize-src/js/bin/materialize.js' %}"></script>
    </head>
    <body class="app">
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
