{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% include 'menu_eventos.html'%}


<main>
  <div class="container">
      <h3>{{object.nome}}</h3>
      <p>{{object.descricao}}</p>
      <h5>Local: {{object.local}}</h5>
      <h5>Endereço: {{object.endereco}}</h5>
      <h5>Data de Início: {{object.dataInicio}}</h5>
      <h5>Data de Fim: {{object.dataFim}}</h5>
      <a href="/eventos/inscricao/{{object.id}}" class="waves-effect waves-light btn">Inscrever-se</a>
  </div>
</main>
{% endblock content %}
