@media only screen and (max-width: 600px) {
  header{
    padding-left: 0px;
  }
}

footer,
header,
main {
  padding-left: 300px;
}
@media only screen and (max-width:992px) {
  footer,
  header,
  main {
    padding-left: 0;
  }
}

.card-image {
  max-width: 40%;
  padding: 10px;
}

a.card-image{
  max-width: 40%;
  padding: 50px;
}

.imagem{
  max-width: 90%;
}
