{% extends 'base.html' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
  {% for usuario in object_list %}
  <tr>
      <td><a href="/usuario/{{usuario.pk}}"> {{ usuario.id }} </a></td>
      <td><a href="/usuario/{{usuario.pk}}"> {{ usuario.nome }} </a></td>
      <td><p> {{ usuario.email }} </p></td>
      <td><p> {{ usuario.permissao }} </p></td>
  </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock content %}
