{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% include 'menu.html'%}
<h1>{{ user.get_full_name }} </h1>

<div class="input-field col s6">
  <i class="material-icons prefix">search</i>
  <input id="icon_prefix" type="text" class="validate">
  <label for="icon_prefix">Buscar</label>
</div>

{% for produto in object_list %}

<div class="card horizontal">
  {% for imagem in produto.produtos.all %}
  {% if forloop.first %}
  <div class="card-image">
    <img src="/images/{{imagem.imageFile}}">
  </div>
  {% endif %}
  {% empty %}
  <a href="#addImagem{{produto.id}}" class="card-image">
    <img src="{% static "imagens/add_photo.png" %}"/>
  </a>
  {% endfor %}
  <div class="card-stacked">
    <div class="card-content">
      <h5>{{produto.nome}}</h5>
      <p>{{produto.descricao}}</p>
      <p><b>Valor: </b>{{produto.preco}}</p>
    </div>
    <div class="card-action">
      <div class="row">
        <div class="col s3">
          <a class="btn-flat" href="/produto/update/{{produto.id}}"><i class="material-icons">mode_edit</i></a>
        </div>
        <div class="col s3">
          <form role="form" action="/produto/deletar/{{produto.id}}" method="post">
            {% csrf_token %}
            <button class="btn-flat orange-text text-accent-2" type="submit" ><i class="material-icons">delete</i></button>
          </form>
        </div>
        <div class="col s3">
          <a href="#addImagem{{produto.id}}" class="btn-flat">
            <i class="material-icons">add_a_photo</i>
          </a>
        </div>
        <div id="addImagem{{produto.id}}" class="modal">
          <div class="modal-content">
            <form role="form" action="/produto/novoImagem/{{produto.id}}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="box-body">
                <div class="input-field">
                  <label for="id_nome">Nome:</label>
                  <input id="id_nome" maxlength="150" name="nome" type="text">
                </div>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Selecionar Arquivo</span>
                    <input type="file" id="id_imageFile" name="imageFile" required="">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% empty %}
<h5>Nenhum produto cadastrado</h5>
{% endfor %}
{% include 'produto/add_imagem.html'%}

{% endblock content %}
