<div class="row">
  <div class="col s2">
    <a class="" href="#">
    <div class="waves-effect waves-light card purple lighten-2 ">
      <div class="card-content">
        <span class="white-text">
          Atleta
        </span>
      </div>
    </div>
    </a>
  </div>
  <div class="col s2">
    <a class="" href="#">
    <div class="waves-effect waves-light card red lighten-2">
      <div class="card-content">
        <span class="white-text">
          Técnicos
        </span>
      </div>
    </div>
    </a>
  </div>
  <div class="col s2">
    <a class="" href="#">
    <div class="waves-effect waves-light card amber lighten-2">
      <div class="card-content">
        <span class="white-text">
          Modalidades
        </span>
      </div>
    </div>
  </a>

  </div>
  <div class="col s2">
    <a class="" href="#">
    <div class="waves-effect waves-light card lime">
      <div class="card-content">
        <span class="white-text">
          Locais
        </span>
      </div>
    </div>
  </a>
  </div>
  <div class="col s2">
    <a class="" href="#">
    <div class="waves-effect waves-light card cyan lighten-2">
      <div class="card-content">
        <span class="white-text">
          Materiais
        </span>
      </div>
    </div>
  </a>
  </div>
  <div class="col s2">
    <a class="" href="#">
    <div class="waves-effect waves-light card teal lighten-2">
      <div class="card-content">
        <span class="white-text">
          Locais
        </span>
      </div>
    </div>
  </a>
  </div>
</div>
