{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'produto/menu.html'%}

<div class="box box-primary" width>
        <div class="box-header with-border">
          <h3 class="box-title">Adicionar Imagem</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/produto/novoImagem/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="box-body">
            {% for campo in form %}
                {% if campo.errors%}
                <div class="form-group has-error">
                    <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{campo.label}}:</label>
                    {{campo}}
                    <span class="help-block">{{campo.errors}}</span>
                </div>

                {% else %}
                  <div class="form-group">
                      <label class="myLabel">{{ campo.label }}:</label>
                          {{ campo }}
                  </div>
                {% endif %}
            {% endfor %}
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
{% endblock content %}
