{% load staticfiles %}
<asside>
    <div id="slide-out" class="side-nav fixed blue-grey darken-4">
        <div class="container grey-text text-lighten-5">
            <div class="row">
                <div class="col s6">
                    <img class="imagem" src="{% static "/imagens/logo.png" %}">
                </div>
                <div class="col s6">
                    <h4>GarçON</h4>
                </div>
            </div>
        </div>

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header grey-text text-lighten-5">
                    <h4>Mesas</h4>
                </div>
                <div class="collapsible-body blue-grey darken-4">
                    <ul>
                        <li><a class="grey-text text-lighten-5" href="/mesa"><i class="material-icons grey-text text-lighten-5">search</i> Buscar</a></li>
                        <li><a class="grey-text text-lighten-5" href="/mesa/1"><i class="material-icons grey-text text-lighten-5">lock_open</i> Abertas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/mesa/2"><i class="material-icons grey-text text-lighten-5">lock_outline</i> Fechadas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/mesa/novo"><i class="material-icons grey-text text-lighten-5">add</i> Adicionar Mesa</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header grey-text text-lighten-5">
                    <h4>Produtos</h4>
                </div>
                <div class="collapsible-body blue-grey darken-4">
                    <ul>
                        <li><a class="grey-text text-lighten-5" href="/produto"><i class="material-icons grey-text text-lighten-5">search</i> Buscar</a></li>
                        <li><a class="grey-text text-lighten-5" href="/produto/1"><i class="material-icons grey-text text-lighten-5">local_drink</i> Bebidas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/produto/2"><i class="material-icons grey-text text-lighten-5">local_bar</i> Bebidas Alcoolicas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/produto/3"><i class="material-icons grey-text text-lighten-5">local_dining</i> Refeições</a></li>
                        <li><a class="grey-text text-lighten-5" href="/produto/4"><i class="material-icons grey-text text-lighten-5">cake</i> Sobremesas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/produto/novo"><i class="material-icons grey-text text-lighten-5">add</i> Adicionar Produto</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header grey-text text-lighten-5">
                    <h4>Pedidos</h4>
                </div>
                <div class="collapsible-body blue-grey darken-4">
                    <ul>
                        <li><a class="grey-text text-lighten-5" href="/pedido"><i class="material-icons grey-text text-lighten-5">search</i> Buscar</a></li>
                        <li><a class="grey-text text-lighten-5" href="/pedido/1"><i class="material-icons grey-text text-lighten-5">lock_open</i> Abertas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/pedido/2"><i class="material-icons grey-text text-lighten-5">lock_outline</i> Fechadas</a></li>
                        <li><a class="grey-text text-lighten-5" href="/pedido/novo"><i class="material-icons grey-text text-lighten-5">add</i> Adicionar Mesa</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</asside>
